version: "3.7"

services:
  nginx:
    image: "nginx:1.17-alpine"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./data/nginx:/etc/nginx/conf.d
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot

  certbot:
    image: certbot/certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot

  ebot:
    image: hsfactory/ebot
    restart: always
    expose:
      - 12360
      - 12361
      - 12360/udp
      - 12361/udp
    volumes:
      - /opt/docker/ebot/logs:/ebot/logs
      - /opt/docker/ebot/demos:/ebot/demos
    environment:
      EXTERNAL_IP: '0.0.0.0'
      MYSQL_HOST: 'ebot-mysql'
      MYSQL_PORT: '3306'
      MYSQL_DB: 'ebotv3'
      MYSQL_USER: 'ebotv3'
      MYSQL_PASS: 'ebotv3'
      LO3_METHOD: 'restart'
      KO3_METHOD: 'restart'
      DEMO_DOWNLOAD: 'true'
      REMIND_RECORD: 'false'
      DAMAGE_REPORT: 'true'
      DELAY_READY: 'false'
      NODE_STARTUP_METHOD: 'node'
      USE_DELAY_END_RECORD: 'true'
      TOORNAMENT_PLUGIN_KEY: ''

  ebotweb:
    image: counterstrafe/ebotweb
    restart: always
    expose:
      - 80
    volumes:
      - /opt/docker/ebot/demos:/opt/ebot/demos
      - /opt/docker/ebot/logs:/opt/ebot/logs
    environment:
      MYSQL_HOST: 'ebot-mysql'
      MYSQL_PORT: '3306'
      MYSQL_DB: 'ebotv3'
      MYSQL_USER: 'ebotv3'
      MYSQL_PASS: 'ebotv3'
      EBOT_ADMIN_USER: 'admin'
      EBOT_ADMIN_PASS: 'password'
      EBOT_ADMIN_MAIL: ''
      DEFAULT_MAX_ROUND: '8'
      DEFAULT_RULES: 'counterstrafe_wingman'
      DEFAULT_OVERTIME_STARTMONEY: '10000'
      DEMO_DOWNLOAD: 'true'
      EBOT_PROTO: 'http://'
      EBOT_IP: '0.0.0.0'
      EBOT_PORT: '12360'
      TOORNAMENT_ID: ''
      TOORNAMENT_SECRET: ''
      TOORNAMENT_API_KEY: ''
      TOORNAMENT_PLUGIN_KEY: ''

  ebot-mysql:
    image: mysql:5.7
    restart: always
    volumes:
      - /opt/docker/ebot/mysql:/var/lib/mysql
    expose:
      - 3306
    environment:
      - MYSQL_DATABASE=ebotv3
      - MYSQL_USER=ebotv3
      - MYSQL_PASSWORD=ebotv3
      - MYSQL_ROOT_PASSWORD=MyAwesomePassword
      - MYSQL_ROOT_HOST=%
    command: mysqld --sql_mode="NO_ENGINE_SUBSTITUTION"

  adminafk:
    image: counterstrafe/adminafk:1.8.0
    container_name: adminafk
    restart: always
    expose:
      - 80
    environment:
      ADMINAFK_SERVERNAME_ADMINAFK: 'adminafk-mysql'
      ADMINAFK_PORT_ADMINAFK: '3306'
      ADMINAFK_DBNAME_ADMINAFK: 'adminafk'
      ADMINAFK_USERNAME_ADMINAFK: 'adminafk'
      ADMINAFK_PASSWORD_ADMINAFK: 'adminafk'
      ADMINAFK_BASE_URL: '/adminafk/'
      ADMINAFK_SERVERNAME_EBOT: 'ebot-mysql'
      ADMINAFK_PORT_EBOT: '3306'
      ADMINAFK_DBNAME_EBOT: 'ebotv3'
      ADMINAFK_USERNAME_EBOT: 'ebotv3'
      ADMINAFK_PASSWORD_EBOT: 'ebotv3'

  adminafk-mysql:
    image: counterstrafe/adminafk-mysql:1.8.0
    container_name: adminafk-mysql
    restart: always
    command: mysqld --user=root
    expose:
      - 3306
    environment:
      - MYSQL_DATABASE=adminafk
      - MYSQL_USER=adminafk
      - MYSQL_PASSWORD=adminafk
      - MYSQL_ROOT_PASSWORD=MyAwesomePassword
      - MYSQL_ROOT_HOST=%
    command: mysqld --sql_mode="NO_ENGINE_SUBSTITUTION"
