global
    log 127.0.0.1 local0 notice
    maxconn 2000

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    timeout connect  5000
    timeout client  10000
    timeout server  10000

frontend http-in
    bind 0.0.0.0:80
    acl is_adminafk path_beg /adminafk
    use_backend adminafk-backend if is_adminafk
    default_backend ebotweb-backend

backend ebotweb-backend
    server ebotweb ebotweb:80

backend adminafk-backend
    server adminafk adminafk:80
